In [1]:
import sqlite3 as sq

In [2]:
con=sq.connect('student.db')

In [3]:
cur=con.cursor()

In [4]:
p='create table stud1(id int primary key,name text)'

In [5]:
cur.execute(p)

In [6]:
p1='create table stud_details1(id references stud(id),city text,mobileno int)'

In [7]:
cur.execute(p1)

In [8]:
con.commit()

2.insert into atleast 10 recordes for each table.

In [9]:
S="insert into stud1 values(1,'Om'),(2,'Sai'),(3,'Ram'),(4,'radha'),(5,'krishna'),(6,'Lakshmi'),(7,'Parvati'),(8,'Varun'),(9,'Indra'),(10,'Vishnu')"

In [10]:
cur.execute(S)

In [11]:
S1="insert into stud_details1 values(1,'Surat',1234567890),(2,'Baroda',7856412352),(3,'Vyara',7412564878),(4,'Bardoli',9854632145),(5,'Daman',7485963212),(6,'Goa',7596874532),(7,'Songadh',8563214521),(8,'Diu',9877445522),(9,'Mehsana',8574963214),(10,'Kelisana',8574961245)"

In [12]:
cur.execute(S1)

In [13]:
con.commit()

3.Diplay whose Student Come From the Surat City.

In [17]:
q1="select * from stud_details1 where city='Surat' "

In [18]:
cur.execute(q1)

In [19]:
cur.fetchall()

[(1, 'Surat', 1234567890)]

In [20]:
con.commit()

4.Display Student Details Whose City Name Start with B.

In [21]:
q2="select * from stud_details1 where city LIKE 'B%' "

In [22]:
cur.execute(q2)

In [23]:
cur.fetchall()

[(2, 'Baroda', 7856412352), (4, 'Bardoli', 9854632145)]

In [24]:
con.commit()

5.Update Mobile Who are Coming From 'Surat'.

In [25]:
q3="update stud_details1 set mobileno=8569745212 where city='Surat' "

In [26]:
cur.execute(q3)

In [27]:
con.commit()

In [28]:
con.close()